In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pygwalker as pyg
import warnings 
warnings.filterwarnings('ignore')

In [4]:
#insert scrapped dataset
df = pd.read_csv("C:/Users/HP/Desktop/World Cup.csv")

In [4]:
# Convert Age column to numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [5]:
# Convert Caps column to numeric
df['Caps'] = pd.to_numeric(df['Caps'], errors='coerce')

In [6]:
# Convert Goals column to numeric
df['Goals'] = pd.to_numeric(df['Goals'], errors='coerce')

In [7]:
# Convert DOB column to datetime
df['DOB'] = pd.to_datetime(df['DOB'])

In [8]:
# Fill NA values with 0 in Caps and Goals columns
df['Caps'].fillna(0, inplace=True)
df['Goals'].fillna(0, inplace=True)

In [13]:
df

,Player,Country,Club,DOB,Age,Jersey No,Position,Caps,Goals
0,Erin nayler,New Zealand,IFK Norrk??????,1992-04-17,31,1,GK,84,0
1,Ria Percival (vice-captain),New Zealand,Tottenham Hotspur,1989-07-12,33,2,MF,163,15
2,Claudia Bunge,New Zealand,Melbourne Victory,1999-09-21,23,3,DF,22,0
3,CJ Bott,New Zealand,Leicester City,1995-04-22,28,4,DF,38,3
4,Michaela Foster,New Zealand,Wellington Phoenix,1999-09-01,24,5,DF,6,0
...,...,...,...,...,...,...,...,...,...
731,nasey Phair,South Korea,Players Development Academy,2007-06-29,16,19,FW,0,0
732,Kim Hye-ri (captain),South Korea,Incheon Hyundai Steel,1990-06-25,33,20,DF,111,1
733,Ryu Ji-soo,South Korea,Seoul WFC,1997-03-09,25,21,GK,0,0
734,Bae Ye-bin,South Korea,Uiduk University,2004-07-12,18,22,MF,2,0
735,Kang Chae-rim,South Korea,Incheon Hyundai Steel,1998-03-23,25,23,FW,24,6

In [9]:
#Teams Zambia, Costa Rica, Morocco have NA as number of Caps and Goals Scored, This will be replaced by 0
df.replace('NA', '0', inplace=True)

In [ ]:
# Save the modified DataFrame back to the CSV file
df.to_csv('modified_file.csv', index=False)

In [14]:
# Calculate players' goal-to-cap ratio
df['Goal_to_Cap_Ratio'] = df['Goals'] / df['Caps']

In [5]:
pyg.walk(df, dark='dark')

Box(children=(HTML(value='<div id="ifr-pyg-0" style="height: auto">\n    <head>\n        <meta http-equiv="Con…